<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <th:block th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/home">Blog</a>
            <button class="navbar-toggler btn btn-warning" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">All Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts/create">New Post</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="#">Welcome, <span th:text="${#authentication.principal.username}"></span></a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <form th:action="@{/logout}" th:method="post" class="nav-link">
                            <button class="btn-link btn nav-link" style="margin-top: 8px">Logout</button>
                        </form>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 bg-primary text-warning" type="search" placeholder="Search Blogs" aria-label="Search" />
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </th:block>

</html>
