<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/header :: style"></div>
</head>
<body class="container">
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1>Guess a number:</h1>
    <h2>
        <a href="/roll-dice/1">1</a>
        <a href="/roll-dice/2">2</a>
        <a href="/roll-dice/3">3</a>
        <a href="/roll-dice/4">4</a>
        <a href="/roll-dice/5">5</a>
        <a href="/roll-dice/6">6</a>
    </h2>


    <script th:replace="fragments/header :: scripts"></script>
</body>
</html>
